body{
    background-color: black;
}
.calculator {
    display: flex;
     background-color: aqua;
    text-align: center;
    align-items: flex-start;
    margin: auto;
    border-top-width:200px
   
    
}

input, button {
    margin-top:25px;
}

