body{
    background-color: black;
}
.calculator {
    background-color: aqua; 
    border-radius: 25px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    
}

input, button {
    margin-top:10px;
}
