body{
    background-color: black;
}
.calculator {
    background-color: aqua; 
    text-align: center;
    max-width: 50%;
    margin: auto;
    
}

input, button {
    margin-top:10px;
}
@media screen and (max-width: 600px) {
    
        max-width: 100%; 
        border-radius: 0; 
    }
}
